<a href="https://colab.research.google.com/github/setran11/ds1002-mnd4up/blob/main/homework/week-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 3

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for grading.

## 1. Variables

Declare and populate three variables below. Be sure your code outputs each variable:

1. Containing a string
2. Containing a boolean
3. Containing an integer

In [ ]:
# Put answers below

In [28]:
# containing a string
string1 = "arlington"
string1

'arlington'

In [17]:
# containing a boolean
county1 = "Arlington"
county2 = "arlington"
county1 == county2

False

In [23]:
# containing a variable
x = 33
y = 11
x * y

363

## 2. String Manipulation

Take the following string and, using python commands, show how to fulfill the requested task. Be sure your code outputs the requested data.

String: "Go Hoos, Beat JMU!"

1. Write a command that extracts the first 8 characters of the string.
2. Write a command that extracts the last 4 characters of the string.

In [ ]:
# Put answers below

In [1]:
# string
string1 = 'Go Hoos, Beat JMU!'

In [2]:
# extract the first 8 characters
string1[:8]

'Go Hoos,'

In [4]:
# extract the last 4 characters
string1[-4:]

'JMU!'

# 3. Concatenation

1. Declare any two string variables and concatenate them.
2. Declare a string parameter and concatenate another hard-coded phrase with it.

In [ ]:
# Put answers below

In [31]:
# declare two string variables and concatenate them
string1 = 'my name is Sofia '
string2 = 'i am from Arlington'

string1 + string2

'my name is Sofia i am from Arlington'

In [33]:
# declare a string parameter and concatenate another hard-coded phrase with it
print(string1 + string2 + ' i go to UVA')

my name is Sofia i am from Arlington i go to UVA

# 4. Math Operations

Using the following numeric variables, write Python code that fulfills the requested operations. Be sure your code outputs the correct results.

```python
var1 = 9
var2 = 12
var3 = 48
var4 = 4
```

1. Divide var3 by var2
2. Multiply var1 by var4
3. Write a Python expression that gives a result of `16`.

In [ ]:
# Put answers below

In [43]:
# divide var3 by var2
var3 = 48
var2 = 12
var3 // var2

4

In [44]:
# multiply var1 by var4
var1 = 9
var4 = 4
var1 * var4

36

In [45]:
# write a Python expression that gives a result of 16
var2 = 12
var3 = 48
var4 = 4
var3 // var2 * var4

16