<a href="https://colab.research.google.com/github/setran11/ds1002-mnd4up/blob/main/homework/week-9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 9

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## Functions

In the cell below define a function that takes one parameter (in the form of a list) called `names` and returns a simple greeting for each name, such as

    "Hello Natasha, it's so nice to meet you"
    "Hello Sid, it's so nice to meet you"

Define the function and run it, and in another cell below call the function populated with a var of a list of names.

In [15]:
def name_greeter(length):
  for n in range(length):
      print(n)

In [17]:
names = ["Sofia","Lucy","Lena","Kenzie","Emily"]

for n in names:
  print("Hello " + n + ", it's so nice to meet you")

Hello Sofia, it's so nice to meet you
Hello Lucy, it's so nice to meet you
Hello Lena, it's so nice to meet you
Hello Kenzie, it's so nice to meet you
Hello Emily, it's so nice to meet you

Using the following list, pass it into a function you define that will evaluate the list and return a count of how many items is in it. Be creative.

```
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]
```

In [66]:
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]

len(mylist)

8

## Input Validation

Write a function below that defines two input parameters as `bool` and returns a `bool`.
In the cell below that, populate two variables with two different bools (True and False)
and pass them into a call of your function.

In [70]:
def vals_less_than_or_equal_to_threshold(vals,thresh):
  bools = [val <= thresh for val in vals]
  return bools

In [72]:
x = [11,31]
thr = 13

vals_less_than_or_equal_to_threshold(x, thr)

[True, False]

## Global Variables

Define a global variable and populate it with a data type (int, str, bool, float, etc.)

In [78]:
def create_a_global_var():
  global university
  university = "of virginia"
  print(university)

create_a_global_var()

of virginia

Now create a function that prints out the global variable. Call the function and display the value of the var.

In [80]:
create_a_global_var()

of virginia

Now create a function that creates its own global var and populates it.
Call the function and then print out the global var from outside of the function.

In [84]:
def create_own_global_var():
  global u
  u = "va"

create_own_global_var()
print(u)

va

Finally, write a function that updates the value of the global var you defined 3 cells above.

1. Within the function, print out the global var you defined 3 cells above.
2. Update the global var to have a new value.
3. Within the function, print the new value of the global var.

Call the function and once more print out the value of the global var from outside of the function.

In [86]:
univeristy = "of virginia"

def update_the_global():
  global university
  university = "of Virginia"
  print(university)

update_the_global()
print(university)

of Virginia
of Virginia