<a href="https://colab.research.google.com/github/setran11/ds1002-mnd4up/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [79]:
# code here -- Not sure how to do this one...
val = 0
while val <= 20:
  if val <= 20:
    break
print(val)
print('odd') if val % 2 == 1 else print('even')

0
even

## For-Loops with Lists

In [2]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [4]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for positives in mylist:
  if positives >= 0:
    print(positives)

9
15
23
4
92
47
33
17
18
38

In [15]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for positives in mylist:
  if positives >= 0:
    print(positives)
for negatives in mylist:
  if negatives <= 0:
    print(-negatives)

9
15
23
4
92
47
33
17
18
38
4
242

In [16]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for selected in mylist:
  if (selected >= 20) and (selected <= 40):
    print(selected)

23
33
38

## For-Loops with Dictionaries

In [27]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [28]:
# Write a command to print out all the keys of this dict
for countries in capitals:
  print(countries)

United States
Italy
England
Thailand
Brazil

In [29]:
# Write a command to print out all the values of this dict
for cities in capitals:
  print(capitals[cities])

Washington DC
Rome
London
Bangkok
Brasilia

In [30]:
# Write a command to print all the keys and values for this dict
for key, value in capitals.items():
  print(key, " ", value)

United States   Washington DC
Italy   Rome
England   London
Thailand   Bangkok
Brazil   Brasilia

In [72]:
# Write a command to print only the first three values and NOTHING more.
for cities in capitals:
    if (capitals[cities]) == 'Bangkok':
      break
    print(capitals[cities])

Washington DC
Rome
London