<a href="https://colab.research.google.com/github/setran11/ds1002-mnd4up/blob/main/notebooks/21-dataframes-in-r-student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Frames in R

Build a data frame by hand.

In [3]:
# album, year, digital as vectors
album <- c("The Low End Theory", "Nevermind", "Port of Morrow",
           "Dark Side of the Moon", "Naked", "OK Computer",
           "Abbey Road", "Thriller", "Rumours", "The Joshua Tree")
year <- c(1991, 1991, 2012, 1973, 1988, 1997, 1969, 1982, 1977, 1987)
digital <- c(FALSE, FALSE, TRUE, FALSE, TRUE, TRUE, FALSE, FALSE, FALSE, TRUE)

# push data frame into a function
df <- data.frame(Album = album, Year = year, Digital = digital)

In [4]:
# display the df
df

   Album                 Year Digital
1  The Low End Theory    1991 FALSE
2  Nevermind             1991 FALSE
3  Port of Morrow        2012  TRUE
4  Dark Side of the Moon 1973 FALSE
5  Naked                 1988  TRUE
6  OK Computer           1997  TRUE
7  Abbey Road            1969 FALSE
8  Thriller              1982 FALSE
9  Rumours               1977 FALSE
10 The Joshua Tree       1987  TRUE

Column Naming

In [5]:
df <- data.frame(Album = album, Year = year, Digital = digital)

In [9]:
# alternative way of naming columns
names(df) <- c("Album", "Year", "Digital")

## Insert a Column

In [10]:
# call out a column as a vector (data frame name $ column name)
df$Year
df$Album

 [1] 1991 1991 2012 1973 1988 1997 1969 1982 1977 1987

 [1] "The Low End Theory"    "Nevermind"             "Port of Morrow"
 [4] "Dark Side of the Moon" "Naked"                 "OK Computer"
 [7] "Abbey Road"            "Thriller"              "Rumours"
[10] "The Joshua Tree"

In [12]:
# insert a column -- same syntax (push vector into it)
df$Artist <- c("A Tribe Called Quest", "Nirvana", "The Shins", "Pink Floyd", "Talking Heads", "Radio Head", "The Beatles", "Michael Jackson", "Fleetwood Mac", "U2")

In [13]:
df

   Album                 Year Digital Artist
1  The Low End Theory    1991 FALSE   A Tribe Called Quest
2  Nevermind             1991 FALSE   Nirvana
3  Port of Morrow        2012  TRUE   The Shins
4  Dark Side of the Moon 1973 FALSE   Pink Floyd
5  Naked                 1988  TRUE   Talking Heads
6  OK Computer           1997  TRUE   Radio Head
7  Abbey Road            1969 FALSE   The Beatles
8  Thriller              1982 FALSE   Michael Jackson
9  Rumours               1977 FALSE   Fleetwood Mac
10 The Joshua Tree       1987  TRUE   U2

## Get the Structure

In [14]:
# learn the structure of the df
str(df)

'data.frame':	10 obs. of  4 variables:
 $ Album  : chr  "The Low End Theory" "Nevermind" "Port of Morrow" "Dark Side of the Moon" ...
 $ Year   : num  1991 1991 2012 1973 1988 ...
 $ Digital: logi  FALSE FALSE TRUE FALSE TRUE TRUE ...
 $ Artist : chr  "A Tribe Called Quest" "Nirvana" "The Shins" "Pink Floyd" ...

## Slicing & Filtering

Remember that a data frame is simply a 2-dimensional array. Rows + Columns.

The `[ ]` selector has two halves, separated by a comma: `[ <ROWS> , <COLUMNS> ]`

Selecting Columns

In [29]:
# df[ROWS, COLUMNS] -- range separated by a colon :

# get all rows and only first two columns
df[ ,1:2]

   Album                 Year
1  The Low End Theory    1991
2  Nevermind             1991
3  Port of Morrow        2012
4  Dark Side of the Moon 1973
5  Naked                 1988
6  OK Computer           1997
7  Abbey Road            1969
8  Thriller              1982
9  Rumours               1977
10 The Joshua Tree       1987

In [30]:
# get first five rows and all columns
df[1:5, ]

  Album                 Year Digital Artist
1 The Low End Theory    1991 FALSE   A Tribe Called Quest
2 Nevermind             1991 FALSE   Nirvana
3 Port of Morrow        2012  TRUE   The Shins
4 Dark Side of the Moon 1973 FALSE   Pink Floyd
5 Naked                 1988  TRUE   Talking Heads

In [31]:
# get whole data frame
df[,]

   Album                 Year Digital Artist
1  The Low End Theory    1991 FALSE   A Tribe Called Quest
2  Nevermind             1991 FALSE   Nirvana
3  Port of Morrow        2012  TRUE   The Shins
4  Dark Side of the Moon 1973 FALSE   Pink Floyd
5  Naked                 1988  TRUE   Talking Heads
6  OK Computer           1997  TRUE   Radio Head
7  Abbey Road            1969 FALSE   The Beatles
8  Thriller              1982 FALSE   Michael Jackson
9  Rumours               1977 FALSE   Fleetwood Mac
10 The Joshua Tree       1987  TRUE   U2

In [32]:
# get Radio Head
df[6,4]

[1] "Radio Head"

In [33]:
# get only album and artist for all rows
df[ ,-(2:3)]

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radio Head
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

In [34]:
# get only album and artist for all rows
df[ , c(1,4)]

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radio Head
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

In [35]:
# use concatenation
df[ , c(4,2)]

   Artist               Year
1  A Tribe Called Quest 1991
2  Nirvana              1991
3  The Shins            2012
4  Pink Floyd           1973
5  Talking Heads        1988
6  Radio Head           1997
7  The Beatles          1969
8  Michael Jackson      1982
9  Fleetwood Mac        1977
10 U2                   1987

In [36]:
# use concatenation
df[c(1,9,4,5), c(4,2)]

  Artist               Year
1 A Tribe Called Quest 1991
9 Fleetwood Mac        1977
4 Pink Floyd           1973
5 Talking Heads        1988

In [37]:
# specify by column names with concatenation
df[ , c("Album","Artist")]

   Album                 Artist
1  The Low End Theory    A Tribe Called Quest
2  Nevermind             Nirvana
3  Port of Morrow        The Shins
4  Dark Side of the Moon Pink Floyd
5  Naked                 Talking Heads
6  OK Computer           Radio Head
7  Abbey Road            The Beatles
8  Thriller              Michael Jackson
9  Rumours               Fleetwood Mac
10 The Joshua Tree       U2

In [38]:
df

   Album                 Year Digital Artist
1  The Low End Theory    1991 FALSE   A Tribe Called Quest
2  Nevermind             1991 FALSE   Nirvana
3  Port of Morrow        2012  TRUE   The Shins
4  Dark Side of the Moon 1973 FALSE   Pink Floyd
5  Naked                 1988  TRUE   Talking Heads
6  OK Computer           1997  TRUE   Radio Head
7  Abbey Road            1969 FALSE   The Beatles
8  Thriller              1982 FALSE   Michael Jackson
9  Rumours               1977 FALSE   Fleetwood Mac
10 The Joshua Tree       1987  TRUE   U2

In [40]:
# where digital column is FALSE
df[df$Digital == FALSE , ]

  Album                 Year Digital Artist
1 The Low End Theory    1991 FALSE   A Tribe Called Quest
2 Nevermind             1991 FALSE   Nirvana
4 Dark Side of the Moon 1973 FALSE   Pink Floyd
7 Abbey Road            1969 FALSE   The Beatles
8 Thriller              1982 FALSE   Michael Jackson
9 Rumours               1977 FALSE   Fleetwood Mac

In [42]:
# use mathematical operations to filter
df[df$Year > 1990, ]

  Album              Year Digital Artist
1 The Low End Theory 1991 FALSE   A Tribe Called Quest
2 Nevermind          1991 FALSE   Nirvana
3 Port of Morrow     2012  TRUE   The Shins
6 OK Computer        1997  TRUE   Radio Head

In [45]:
# chain operations together
df[df$Year > 1990 & df$Digital == TRUE, ]

  Album          Year Digital Artist
3 Port of Morrow 2012 TRUE    The Shins
6 OK Computer    1997 TRUE    Radio Head

In [49]:
df[df$Year > 1990 | df$Digital == FALSE, ]

  Album                 Year Digital Artist
1 The Low End Theory    1991 FALSE   A Tribe Called Quest
2 Nevermind             1991 FALSE   Nirvana
3 Port of Morrow        2012  TRUE   The Shins
4 Dark Side of the Moon 1973 FALSE   Pink Floyd
6 OK Computer           1997  TRUE   Radio Head
7 Abbey Road            1969 FALSE   The Beatles
8 Thriller              1982 FALSE   Michael Jackson
9 Rumours               1977 FALSE   Fleetwood Mac

## `tidyverse`

In [ ]:
# Installing packages
install.packages("tidyverse")

In [60]:
# Loading a library
library(tidyverse)

In [61]:
# Piping - pushing something into something esle
# %>% = piping

df %>%
  select(Album, Year) %>%     # select these two columns
  filter(Year > 1990)         # filter by years

  Album              Year
1 The Low End Theory 1991
2 Nevermind          1991
3 Port of Morrow     2012
4 OK Computer        1997

In [ ]:
# Loading a CSV file into a data frame
titanic <- read.csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
titanic

In [ ]:
# use filtering methods to inspect data
titanic %>%
  select(Pclass, Name, Sex, Fare, Age) %>%
  filter(Sex == "female") %>%
  filter(Pclass == 3) %>%
  filter(Age < 20) %>%
  arrange(Name)     # arrange is a sort command -- sorts ascending

In [66]:
# inject into a data fram
df2 <- titanic %>%
  select(Pclass, Name, Sex, Fare, Age) %>%
  filter(Sex == "female") %>%
  filter(Pclass == 3) %>%
  filter(Age < 20) %>%
  arrange(Name)

In [ ]:
# R has built in data sets
starwars

In [74]:
# ? in front of data set to get info
?starwars

In [ ]:
str(starwars)

In [78]:
# filter data then omit blank / na data
starwars %>%
  select(gender, mass, height, species) %>%
  filter(species == "Human") %>%
  na.omit()

   gender    mass  height species
1  masculine  77.0 172    Human
2  masculine 136.0 202    Human
3  feminine   49.0 150    Human
4  masculine 120.0 178    Human
5  feminine   75.0 165    Human
6  masculine  84.0 183    Human
7  masculine  77.0 182    Human
8  masculine  84.0 188    Human
9  masculine  80.0 180    Human
10 masculine  77.0 170    Human
11 masculine 110.0 180    Human
12 masculine  75.0 170    Human
13 masculine  78.2 183    Human
14 masculine  79.0 177    Human
15 masculine  79.0 175    Human
16 masculine  89.0 193    Human
17 masculine  84.0 188    Human
18 masculine  85.0 185    Human
19 masculine  80.0 193    Human
20 masculine  79.0 183    Human
21 masculine  79.0 188    Human
22 feminine   45.0 165    Human

In [80]:
# calculating BMI using calculations -- more complex
starwars %>%
  select(gender, mass, height, species) %>%
  filter(species == "Human") %>%
  na.omit() %>%
  mutate(height = height / 100) %>%
  mutate(BMI = mass / height^2) %>%
  group_by(gender) %>%
  summarize(Average_BMI = mean(BMI))

  gender    Average_BMI
1 feminine  21.95164
2 masculine 26.04427